/* google font */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
/* start Components */
html {
	scroll-behavior: smooth;
}
:root {
	/* font-weight */
	--md-font: 500;
	--lg-font: 700;
	/* colors */
	--primary-color: hsl(217, 19%, 35%);
	--second-color: hsl(214, 17%, 51%);
	--third-color: hsl(212, 23%, 69%);
	--fourth-color: hsl(210, 46%, 95%);
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: var(--fourth-color);
}
/* Media Qureies */
/* small */
@media (max-width: 375px) {
	.container {
		width: 320px;
		margin-inline: auto;
	}
}
/* larg */
@media (max-width: 1440px) {
}
.wrapper {
	position: relative;
	width: 100%;
	min-height: 100vh;
}
.container {
	position: relative;
	padding-block: 1.5rem;
}
article {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: calc(100vh - 3rem);
	background-color: #fff;
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
}
article .back-img,
article .text,
article .share-section {
	flex: 1;
}
article .back-img {
	flex: 4;
	border-radius: 1rem 1rem 0 0;
	width: 100%;
	background-image: url(/drawers.jpg);
	background-size: cover;
	-webkit-border-radius: 1rem 1rem 0 0;
	-moz-border-radius: 1rem 1rem 0 0;
	-ms-border-radius: 1rem 1rem 0 0;
	-o-border-radius: 1rem 1rem 0 0;
}
article .text {
	padding: 2.5rem 1rem 0 1rem;
	line-height: 0.9;
}
article .text p:first-of-type {
	font-size: 28px;
	font-weight: var(--lg-font);
	color: var(--primary-color);
}
article .text p:last-of-type {
	font-size: 22px;
	font-weight: var(--md-font);
	color: var(--second-color);
	margin-block-start: 1rem;
}
article .share-section {
	display: flex;
	height: 45px;
	padding: 0 1rem;
	align-items: center;
	gap: 1rem;
}
article .share-section .logo {
	width: 50px;
	height: 50px;
	/* background-color: red; */
	background-image: url(/avatar-michelle.jpg);
	background-size: cover;
	position: relative;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
}
article .share-section .flex-details {
	flex: 2;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
article .share-section .details {
	align-content: flex-start;
}
article .share-section .details p:first-of-type {
	font-size: 22px;
	font-weight: var(--lg-font);
	color: var(--primary-color);
}
article .share-section .details p:last-of-type {
	font-size: 22px;
	font-weight: var(--md-font);
	color: var(--third-color);
}
article .share-section .share-bttn {
	width: 45px;
	height: 45px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	background-color: var(--fourth-color);
	display: grid;
	place-items: center;
}
article .share-section .share-bttn i {
	color: var(--second-color);
}
